/* ---------variables ------------ */
:root {
    --color-very-dark-magenta: hsl(300, 43%, 22%);
    --color-soft-pink: hsl(333, 80%, 67%);
    --color-dark-magenta: hsl(303, 10%, 53%);
    --color-light-magenta: hsl(300, 24%, 96%);
    --color-white: hsl(0, 0%, 100%);

    --mobile: 375px;
    --desktop: 1440px;
}

  @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

/* ------Reset Styles ------- */
html {
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'League Spartan', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body{
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: var(--color-very-dark-magenta);
    font-weight: 700;
    font-size: 1.8rem;
}

h1 span {
    font-size: 2rem;
    font-weight: 700;
}

.title p {
    color: var(--color-dark-magenta);
}


.main-container{
    height: 600px;
    width: 1200px;
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 1fr 1fr;
}

.title{
    border: solid red;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.rated {
    border: solid gray;
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
}

.left-card{
    /* border: solid green; */
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;  
    display: flex;   
    justify-content: center;
    align-items: start;  
}

.center-card{
    /* border: solid blue; */
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3; 
    display: flex;   
    justify-content: center;
    align-items: center;
}

.right-card{
    /* border: solid brown; */
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3; 
    display: flex;   
    justify-content: center;
    align-items: end;   
}

/* .left-contain{
    width: 90%;
    height: 80%;
}

.center-contain{
    width: 90%;
    height: 80%;
}

.right-contain{
    width: 90%;
    height: 80%;
} */


.card {
    width: 90%;
    height: 80%;
    border-radius: 15px;
    color: aliceblue;
    background-color: blueviolet;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }